.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    height: 500px;
}

.image {
    width: 300px;
    object-fit: cover;
}

.welcome-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 10px;
}

.welcome-text {
    font-size: 2rem;
    font-family: "Nunito Bold", sans-serif;
}

.welcome-subtext {
    font-size: 1rem;
    font-family: "Nunito", sans-serif;
    opacity: 0.5;
}

.button-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 92%;
    margin: 15px 10px 10px 10px;
    gap: 13px;
}